@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root{
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background Gradient */

    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue:hsl(240, 73%, 65%);

    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue:hsl(240, 6%, 50%);

    --light-grayish-blue:hsl(240, 5%, 91%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    font-size:12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.attribution{
    position:absolute;
    bottom:0;
}

.container{
    background-color:white;
    width:920px;
    height:510px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(../images/bg-pattern-desktop.svg);
    background-position: -575px -295px;
    background-repeat: no-repeat;
    border-radius:25px;
    margin-left:40px;
    position:relative;
    overflow: hidden;
    box-shadow: 0 30px 50px 1px rgba(0, 0, 0,0.3);
}


.image,.faq{
    width:50%;
}

.box-img{
    width:0;
    height:510px;
    overflow:visible;
    z-index:2;
    display: flex;
    align-items: center;
}

.box-img img{
    position: relative;
    top:40px;
    left:-53px;
}

.box-img::before{
    content:"";
    box-shadow: 40px 30px 40px 30px rgba(0, 0, 0,0.7);
}

.image>img{
    position:absolute;
    top:70px;
    left:-83px;
}


.faq{
    height:100%;
    padding:16px;
}

.faq h1{
    font-size:32px;
    font-weight:700;
    color:var(--very-dark-desaturated-blue);
    margin-bottom:20px;
    margin-top:47px;
}

.questions{
    padding-right:80px;
}

.question{
    cursor: pointer;
    margin-bottom:10px;
    position:relative;
    padding: 20px 0px 10px 0px;
}

.question.active{
    cursor:initial;
}

.question::after{
    pointer-events: none;
    margin-top:20px;
    content:"";
    height:1px;
    background-color:var(--light-grayish-blue);
    width:100%;
    position: absolute;
}

.question h2{
    font-size:1.175em;
    font-weight:400;
    color:var(--very-dark-grayish-blue);
    display:flex;
    justify-content: space-between;
    transition:all 0.2s;
}

.question h2:hover{
    color:var(--soft-red);
}

.question h2:active{
    pointer-events: none;
}

.question h2::after{
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:15px;
    background-image:url('../images/icon-arrow-down.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transition:all 0.2s;
}

.question p{
    pointer-events: none;
    display:none;
    margin-top:10px;
    color:var(--dark-grayish-blue);
    
}

.question.active h2{
    color:var(--very-dark-desaturated-blue);
    font-weight: 700;
}

.question.active h2::after{
    transform: rotate(180deg);
}

.question.active p{
    display:block;
}

@media screen and (max-width:375px) {
    body{
        font-size:11px;
    }
    
    .attribution{
        display:none;
    }
    
    .container{
        width:330px;
        height:540px;
        flex-direction: column;
        padding:0px;
        margin:0;
        margin-top:65px;
        overflow:initial;
        background-size: 250px 250px;
        background-position:  top left;
        background-position: 45px -150px;
    }
    
    
    .image,.faq{
        width:100%;
    }

    .image{
        display:flex;
        justify-content: center;
        align-items: center;
        height:150px;
    }
    
    .box-img{
        height:540px;
        margin-top:65px;
        display:block;
    }
    
    .box-img img{
        top:-45px;
        left:40px;
        width:100px;
    }

    .box-img::before{
        display: none;
    }
    
    .image>img{
       display:block;
       position: relative;
       width:240px;
       top:-92px;
       left:0;
    }
    
    
    .faq{
        height:100%;
        padding:0px 10px 0px 10px;
        margin-top:-20px;
    }
    
    .faq h1{
        text-align: center;
        margin:0;
        margin-bottom:20px;
    }
    
    .questions{
        padding:0px 15px 0px 15px;
    }
    
    .question{
        cursor: pointer;
        margin-bottom:10px;
        position:relative;
        padding: 10px 0px 5px 0px;
    }
    
    .question.active{
        cursor:initial;
    }
    
    .question::after{
        margin-top:10px;
    }
    
    .question h2::after{
        margin-right:0;
    }


}

